body{
    color:white;
    
}


.searchFor{
    color: #9CA39D;
}

.header{
    background-color: lime;
    
}

.more-btn1, .more-btn2{
    background-color:lime;
    color: #fff;
    padding: 10px;
    margin: 0 auto;
    width: 200px;
    text-align:center;
}

@media screen and (max-width: 480px) {
    .header {
        background-color: red;
    }
}