.appBody{
    margin:0;
    padding:0;
    overflow-x:hidden; 
    /*横スクロールを非表示*/
    color:white;
    font-family: Arial, sans-serif;
    align-items: center;
}

.background{
    background-color:rgb(30, 41, 59);
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* コンテンツよりも背面に配置するため */
}

.header{
    background-color:white;
    border-bottom: 3px solid rgba(26, 46, 5, 0.3); 
    opacity:0.9;
    /*position*/
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.title{
    background-color: rgb(30, 41, 59);
    border-bottom:solid;
    border-bottom-color:#0F172A;
    height:60px;
    /*position*/
    margin-top:70px;
}

.title_text{
    text-align:left;
    color:lime;
    font-size:x-large;
    font-weight:bold;
    padding: 10px 5%;
}

.searchFor input{
    color: #9CA39D;
}


.container {
    padding: 20px 5%;
}

.explanation{
    text-align: center;
}

.sharedContents,
.addMenu, .createMenu
{
    margin-top: 40px;
}


.latestResult {
    padding:0 5%;
}

/*.chart {*/
/*    background-color: white;*/
/*}*/

.menuType,
.container_title,
{
    text-align:center;
    font-size:x-large;
    font-weight:bold;
}

.category_name{
    border-bottom: 3px solid rgba(0, 255, 0, 0.1);
}

.originalMenu_list1, .originalMenu_list2, .originalMenu_list3, 
.originalMenu_list4, .originalMenu_list5, .originalMenu_list6,
.sharedMenu_list1, .sharedMenu_list2, .sharedMenu_list3, 
.sharedMenu_list4, .sharedMenu_list5, .sharedMenu_list6
{
    padding: 10px 0px;
    height: 70px;
    text-align: center;
    margin: auto;
}

.more_btn1, .close_btn1, .more_btn2, .close_btn2, .more_btn3, .close_btn3,
.more_btn4, .close_btn4, .more_btn5, .close_btn5, .more_btn6, .close_btn6,
.more_btn, .close_btn,
.nothing1, .nothing2, .nothing3, .nothing4, .nothing5, .nothing6,
.nothing
{
    display:block;
    color: #9CA39D;
    padding: 10px;
    margin: 0 auto;
    width: 200px;
    text-align:center;
    align-items: center;
}

.sharedMenusButton, .originalMenusButton{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background-color: rgba(51, 65, 85, 0.5);
    
}

.goToAdminButton
{
    display:block;
    background-color: rgba(0, 255, 0, 0.3);
    padding: 10px;
    margin: 15px auto;
    width: 200px;
    text-align:center;
    align-items: center;
}

.name input,
.plus_weight input,
.memo input,
.category option{
    color:black;
}
.weight input,
.repetition input {
    color: lime;  /* 入力欄の文字色をlimeに設定 */
}

.selectCategory,
.searchForMenuInTheCategory{
    margin-top:20px;
}

.narrowDawn
{
    display: block;
    margin-right: 80%;
    text-align: center;
    margin-top: 10px;
    background-color: rgba(0, 255, 0, 0.3);
}
.addMenuButton,
.storeButton{
    display: block;
    margin: 15px auto;
    width: 60px;
    text-align: center;
    background-color: rgba(0, 255, 0, 0.3);
}

.createForm
{
    margin-top: 10px
}
.defineCategory,
.defineStepup,
.shareOrNot
{
    margin-top: 5px;
}

.createMenuButton{
    display: block;
    margin: 15px auto;
    width: 100px;
    text-align: center;
    background-color: rgba(0, 255, 0, 0.3);
}



.adviceContents{
    background-color: rgba(0, 255, 0, 0.1);
    font-size: x-large;
}

.menuInfo{
    margin-top:10px;
}

.training{
    margin-top:10px;
    z-index: 1;
    background-color: rgb(30, 41, 54);
}
.traingHint{
    font-size:large;
    text-align:center;
    color:lime;
}
.weight,.repetition{
    margin-top:5px;
    display:flex;
    align-items:center;
}
.weight h1, .weight input, .weight h2,
.repetition h1, .repetition input, .repetition h2 {
    margin:0;
}
.weight h1,.weight h2,
.repetition h1,.repetition h2{
    width:100px;
}
.weight input, 
.repetition input {
    display:block;
    margin :0 5px;
}
.weight_error, .reps_error{
    text-align:center;
}
.memo{
    margin-top:7px;
}
.memo input{
    display:block;
    margin:5px auto;
    width:90%;
    height:100px;
}
.memoHistory, .theLink{
    color: blue;
    text-decoration: underline;
    cursor: pointer; /* ポインターをリンク形状に変更 */
    
}
.doneButton{
    display:block;
    margin: 10px auto;
    width: 100px;
    text-align: center;
    background-color: rgba(0, 255, 0, 0.3);
}

.backTo {
    background-color: rgba(0, 255, 0, 0.1);
    color: #fff;
    padding: 5px 10px;
    border: none;
    /*border-radius: 5px;*/
    cursor: pointer;
}

.authoritySetting{
    display: flex;
    flex-direction: column;
}

.editButton, .deleteButton, .removeButton, .resetButton{
    margin-top: 15px;
    margin-left: 0;
    width: 70px;
    background-color: rgba(0, 255, 0, 0.1);
    color: #fff;
    padding: 0px 5px;
    border: none;
    /*border-radius: 5px;*/
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .header {
        
    }
}