@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body{
    color:white;
    
}


.searchFor{
    color: #9CA39D;
}

.header{
    background-color: lime;
    
}

.more-btn{
    background-color:lime;
    color: #fff;
    padding: 10px;
    margin: 0 auto;
    width: 200px;
    text-align:center;
}